/* Use nicer box-sizing */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.outline {
    border-style: solid;
    border-color: red;
    border-width: 4px;
}

.row {
    margin: 5px;
}

.working {
    background-color: orange;
    /* border-color: orange; */
}

.finished {
    background-color: green;
}

.errored {
    background-color: red;
}