<html>
  <head>
    <title>Camera Station</title>
    <link href="index.css" rel="stylesheet">
    <script src="index.js" defer></script>
  </head>

  <body>
    <div class="row">
      <h1>Camera Station</h1>
    </div>
    <div class="row">
      <img src="/camera">
    </div>
    <div class="row action" name="bounds">
      <button id="bounds">Bounds</button>
      <span id="boundsResult"></span>
    </div>
    <div class="row">
      <button id="snapshot" disabled>Snapshot</button>
      <span id="snapshotResult"></span>
    </div>
    <div class="row action" name="photos">
      <button id="photos">Photos</button>
      <span id="photosResult"></span>
    </div>
    <div class="row action" name="tare">
      <button id="tare">Tare</button>
      <span id="tareResult"></span>
    </div>
    <div class="row action" name="weight" action="GET">
      <button id="weight">Weight</button>
      <span id="weightResult"></span>
    </div>
    <div class="row action" name="height" action="GET">
      <button id="height">Height</button>
      <span id="heightResult"></span>
    </div>
    <div class="row" name="activate">
      <button id="activate">Activate</button>
      <span id="activateResult"></span>
    </div>
    <form class="row" id="configOptions">
      <input type="range" min="0" max="255" name="threshold" id="thresholdConfig">
      <output name="thresholdOutput"></output>
      <input type="submit" value="Configure">
    </form>
    <div class="row">
      <label for="lightsLevel">Lights</label>
      <input type="range" min="0" max="100" id="lightsLevel">
    </div>
    <div class="row">
      <label for="photosGallery">Photo Gallery</label>
      <div id="photosGallery">
      </div>
    </div>

  </body>
</html>