<html>
  <head>
    <title>Video Streaming Demonstration</title>
    <style>
      .outline {
        border-style: solid;
        border-color: red;
        border-width: 4px;
      }
    </style>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img src="/camera">
    <button id="getBounds" disabled>Get Bounds</button>
    <div id="boundsDisp"></div>
    <button id="snapshot">Snapshot</button>
    <div id="snapshotResult"></div>
    <form id="configOptions">
      <input type="range" min="0" max="255" name="threshold" id="thresholdConfig">
      <output name="thresholdOutput"></output>
      <input type="submit" value="Configure">
    </div>
    <script>
      (function () {
        "use strict";

        function submit_threshold() {
          let form = document.getElementById("configOptions")
          // console.log(form);
          fetch(
            "/config", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({threshold: form.elements["threshold"].value}),
            }
          ).finally(function () {
            // form.reset();
          })
        }

        let configOptions = document.getElementById("configOptions")
        configOptions.addEventListener("input", function (event) {
          let form = document.getElementById("configOptions");
          form.elements["thresholdOutput"].value = form.elements["threshold"].value;
          submit_threshold();
        });
        // console.log(configOptions);
        configOptions.addEventListener("submit", function (event) {
          // console.log(event);
          event.preventDefault();
          submit_threshold();
          return false
        });

        function repeat(func, times, delay) {
          func(times);
          if (times > 0) {
            setTimeout(() => repeat(func, times - 1, delay), delay);
          }
        }

        let snapshotButton = document.getElementById("snapshot");
        snapshotButton.addEventListener("click", function (event) {
          repeat(function (index) {
            fetch("/snap", {
              method: "POST"
            }).then(function (response) {
              response.text().then(text => document.getElementById("snapshotResult").textContent = text);
              snapshotButton.classList.add("outline");
              setTimeout(() => snapshotButton.classList.remove("outline"), 1000);
            })
          }, 10, 15000);
        });

      })();
    </script>
  </body>
</html>